body {
    background-color: #ddd;
}

#conteudo-novo {
    opacity: 0;
    transform: translateY(-40px);
}

.form-animar {
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}